body {
    padding: 0;
    padding-bottom: 20px;
    margin: 0;
    background-color: #e6e0e8;
}

.pageHeader {
    background-color: #d65f30;
    color: white;
    line-height: 1em;
    font-size: 4em;
    font-weight: normal;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.detailBox {
    margin: 20px;
    background-color: white;
    box-shadow: 2px 2px 5px gray;
    padding: 20px;
}

.bookDetails {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: grey;
}

h1 {
    color: black;
}

h2 {
    font-size: 1.2em;
    padding-left: 20px;
    vertical-align: middle;
}

h3 {
    color: gray;
    padding: 0;
    margin: 0
}

.sectionHeader {
    display: flex;
    align-items: stretch;
    flex-flow: column wrap;
    justify-content: left;
    background-color: #8bbf6d;
    color: white;
    line-height: 1em;
}

p {
    padding: 0;
    margin: 0;
}

.textCategory {
    margin-top: 20px
}

button {
    border: none;
    color: white;
    text-decoration: none; 
    padding: 10px;
    width: 99%;
    margin: 0 auto;
    display: block;
}

a { text-decoration: none }

.sellerBox {
    background-color: #d2ce9a;
    text-align: center;
    vertical-align: middle;
    padding: 20px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.centeredBox {
    height: 50%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.cancelHold {
    background-color: red;
    color: white;
    text-decoration: none;
    padding: 10px;
    width: 90%;
    margin: 0 auto;
    display: block;
    font-size: 4em;
    text-align: center;
    border: 2px solid black;
}