@import "navigationpanel.css";

#container {
    display: flex;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 4em;
    font-weight: normal;
    padding-left: 20px;
    vertical-align: middle;
}

h2 {
    font-size: 1.2em;
    padding-left: 20px;
    vertical-align: middle;
}

#book-list {
    display: flex;
    align-items: stretch;
    flex-flow: column wrap;
    justify-content: left;
}

section {
    background: #F6F3ED;
    margin: 10px;
    padding: 20px;
    border: 1px dotted maroon;
    display: flex;
    flex-direction: column;
}

.title {
    background-color: #8bbf6d;
    color: white;
    line-height: 1em;
}

.pageHeader {
    background-color: #d65f30;
    color: white;
    line-height: 1em;
}

button {
    font-weight: bold;
    background: #F9AB33;
    padding: 5px;
    width: 100%;
    text-align: center;
    margin-top: auto;
}