.navpanel {
    background-color: white;
    margin-top: 5px;
    margin-left: 5px;
}

.navpanelitem {
    width: 30px;
    height: 30px;
}

.navpanel img {
    width: 30px;
    height: 30px;
}

hr.divider {
    border-top: 3px solid #bbb;
    padding: 0;
    margin: 0;
}